extends ../_layout

block app-title
    | Photography | AquatoriaDesigns

block vars
    //TODO
    - var bodyClass = 'photography';

block content

    //TODO: there's 2 nav
    //nav
    include photography-navigation.pug

    main.content

        div.adminPanel

            div#adminUploadPhoto.pop-up-mask
                div.pop-up-container
                    span#popUpClose.pop-up-close x
                    if isAdmin
                        include manage-items.pug
                    else
                        div Error. Boo. Run.


        div#data(class="cb-row-cont col-sm-12 col-sm-offset-0")
            ul.categories.full(id="select-category")
                each category in categories.length ? categories : ['There are no categories']
                    li #{category}
                        span.category-name #{category}
                        span.category-cover

        div(id="item-container").columns

    block specificJs
        //script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2')
        ////script(type='text/javascript' src='/js/jquery.mousewheel.min.js')
        //script(type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js')
        //script(src="/static/scripts/utils/sidebar.js")
        script(src="/static/scripts/utils/validator.js")
        script(src="/static/scripts/utils/header-parallax.js")
            //TODO rename to categories
        script(src="/static/scripts/utils/category-loading.js")
        script(src="/static/scripts/utils/sticky-menu.js")
        script(src="/static/scripts/utils/navigation.js")
        script(src="/static/scripts/items/photos/upload-photo.js")
        script(src="/static/scripts/items/photos/admin-options.js")
        script(src="/static/scripts/items/photos/show-photos.js")
        script(type='text/javascript').var itemsListData = !{JSON.stringify(itemsByCategories)};
        script(type='text/javascript').var categories = !{JSON.stringify(categories)};
        script(type='text/javascript').var categoriesWithPicture = !{JSON.stringify(categoriesWithPicture)};
