extends ../_layout

block app-title
    | Profile | AquatoriaDesigns

block vars


block content
    span
        h1
            strong= user.fullName + "'s profile"
    span
        p #{isAdmin ? 'admin' : 'user'}

    span
            button(type="button" id="logout-button") logout


    //TODO: local includes ?

    if isAdmin
        span
            h3 add/remove admin:

            span(id="error-add-admin-container")

            form(role="form" action="" method="post" id="add-admin-form")

                input(type="email" name="email" placeholder="Email@" id="form-email")

                button(type="button" id="add-admin-button") Add


            p #{adminList}

            //script.adminListData='#{adminList}'

            ul(id="admin-list")
                //script var adminListData = #{adminList}

                //each admin in adminList
                //    li= admin.fullName
                //    //button(type="button" ) X
                //else
                //    li There are no admins


            button(type="button" id="save-admins-button") Save Admins



    span
        h3 Here you can edit your profile information

        div
            img(src= user.avatar id="profile-avatar")

        span(id='password-error-container')

        a(href="/profile/avatar") Change your avatar

        table
            tr
                td Email:
                td #{user.email}
            tr
                td Name:
                td #{user.fullName}

        br

        form(role="form" action="" method="post" id="change-password-form")

            label(class="" for="form-old-password") Old password
                input(type="password"
                name="oldPassword"
                id="form-old-password")

            br

            label(class="" for="form-new-password") New password
            input(type="password"
                name="newPassword"
                id="form-new-password")

            br

            label(class="" for="form-repeat-new-password") Repeat password
            input(type="password"
                name="repeatNewPassword"
                id="form-repeat-new-password")

            br

            button(type="button" id="save-password-button") Save

        block specificJs
            script(src="/static/scripts/utils/validator.js")
            script(src="/static/scripts/user/edit-profile.js")
            script(src="/static/scripts/user/add-admin.js")
                //parse/ stringify
            script(type='text/javascript').var adminListData = !{JSON.stringify(adminList)};


